{% extends 'base.html.twig' %}

{% block title %}Hello PrestationIndividuelleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper  mx-auto">
    <h1 class="text-center mb-4">{{ prestation.nom }}</h1>
    <p class="text-center mb-4">par {{ prestation.user.nom }}</p>
    <ul class="text-center list-group">
        <li class="list-group-item">Extrait : {{ prestation.extrait }}</li>
        <li class="list-group-item">Description : {{ prestation.description }}</li>
        <li class="list-group-item">Rémunération : {{ prestation.remuneration }}</li>
        <li class="list-group-item">Téléphone : {{ prestation.numeroTelephone }}</li>
    </ul>
</div>

{% endblock %}
