{% extends 'base.html.twig' %}

{% block title %}Ajout de prestation{% endblock %}

{% block body %}
    
    <h1>Ajouter une prestation</h1>
    <div class="container w-25 m-auto">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.extrait) }}
            {{ form_row(form.description) }}
            {{ form_row(form.remuneration) }}
            {{ form_row(form.numeroTelephone) }}
            <button class="btn btn-primary"  type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
